<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="Main_header">


        <!--header 영역-->
        <div class = container>

            <nav id="navbar-example2" class="navbar bg-white px-3 mb-3">
                <a class="navbar-brand" href="/">TestBank</a>
            </nav>


        </div>



    </div> <!--end main header -->




</html>